<a href="https://colab.research.google.com/github/mohmmadarshad/jupyterBook/blob/master/geoExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import cufflinks as cf
import plotly as pl
import plotly.offline as po
import plotly.graph_objs as pg
%matplotlib inline

In [2]:
po.init_notebook_mode(connected=True)

In [0]:
agri=pd.read_csv('agri.csv')

In [6]:
agri.head()

  code        state  ...   cotton                                               text
0   AL      Alabama  ...   317.61  Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1   AK       Alaska  ...     0.00  Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2   AZ      Arizona  ...   423.95  Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3   AR     Arkansas  ...   665.44  Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4   CA   California  ...  1064.95   California<br>Beef 228.7 Dairy 929.95<br>Frui...

[5 rows x 18 columns]

In [0]:
data=dict(
   type='choropleth',
   locations=['AL','AK','AZ','AR','CA'],
   locationmode='USA-states',
   z=[45,2,32,53,64],
   text=['a','b','c','d','e'] 
)

In [0]:
layout=dict(
    geo={'scope':'usa'}
)

In [0]:
x=pg.Figure(data=[data],layout=layout)

In [13]:
po.plot(x)

'temp-plot.html'